*{
    padding: 0;
    margin: 0;
}

.todo-container {
    width: 500px;
    border: 1px solid #888;
    border-radius: 6px;
    margin: 20px auto;
    overflow: hidden;
}

.todo-header {
    input[type=text] {
        border: none;
        width: 100%;
        outline: none;
        padding: 10px;
        box-sizing: border-box;
    }

    
}
li {
    border-bottom: 1px solid #888;
}
.todo-item-body {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
  }

.todo-box {
    border-top: 1px solid #888;
}

ul {
    list-style: none;
}
.todo-item-editor {
    input {
        border: none;
        width: 100%;
        padding: 10px;
        outline: none;
    }
}

.isDone {
    text-decoration: line-through;
}

.todo-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}